server:
  port: 8080
  error:
    include-message: always
spring:
  datasource:
    username: postgres
    password: sardor
    url: jdbc:postgresql://localhost:5432/pdp
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true